<section class="hbox stretch" id="CustomerOrderGridOverGridSPAView">
    <aside class="bg-white">
        <section class="vbox">
            <header class="header bg-white b-b b-light">
                <p class="h5">Customer and Order</p>
            </header>
            <section class="scrollable wrapper bg-light">
                <form class="form-group" data-role="validator" name="searchForm" novalidate="novalidate">
                    <div class="input-group m-t-sm m-b-md" style="margin:0 auto;">
                        <input class="input-s k-textbox" name="CustName" placeholder="Search by Customer Name"
                               data-bind="value:params.searchValue" style="width:300px;">
                        <span class="btn btn-default btn-sm" data-bind="click:doSearch">Search</span>
                    </div>
                </form>
                <p class="h4">Customer</p>
                <br/>
                <div name="MasterGrid"></div>
                <br/>
                <br/>
                <p class="h4">Order</p>
                <br/>
                <div name="DetailGrid"></div>
            </section>
        </section>
    </aside>
</section>
