<section class="hbox stretch" id="WebDataGridView">
    <aside class="bg-white">
        <section class="vbox">
            <header class="header bg-white b-b b-light">
                <p class="h5">Web Data Grid</p>
            </header>
            <section class="scrollable wrapper bg-light w-f">
                <form class="form-group" data-role="validator" name="searchForm" novalidate="novalidate">
                    <div class="row m-t-sm">
                        <div class="col-sm-12">
                            <input class="input-s-lg k-textbox" name="SessionID" placeholder="Search By SessionID"
                                   data-bind="value:params.sessionID"/>
                            <input class="input-s-lg k-textbox" name="ObjectName" placeholder="Search By Object Name"
                                   data-bind="value:params.objectName"/>
                            <span class="btn btn-primary btn-sm" data-bind="click:doSearch">Search</span>
                        </div>
                    </div>
                </form>
                <br/>
                <div name="MasterGrid"></div>
            </section>
        </section>
    </aside>
</section>
