<section class="hbox stretch" id="WebProfileView">
    <aside class="aside-md bg-white b-r">
        <section class="vbox">
            <header class="header b-b">
                <form class="form-group" data-role="validator" name="searchForm" novalidate="novalidate">
                    <div class="input-group m-t-sm">
                        <input class="form-control input-s" name="SearchField" placeholder="Username"
                               data-bind="value:params.Username"/>
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-sm" data-bind="click:doSearch">Search</span>
                        </span>
                    </div>
                </form>
            </header>
            <section class="bg-light dker w-f">
                <div name="SearchGrid"></div>
            </section>
            <footer class="footer bg-white b-t no-padder text-center">
                <span class="btn bg-empty btn-sm no-border text-md" data-bind="click:createNew"><i class="fa fa-plus m-r-xs"></i> New Record</span>
            </footer>
        </section>
    </aside>
    <aside class="bg-white">
        <section class="vbox">
            <header class="header bg-white b-b b-light">
                <p class="h5">Account Maintenance</p>
            </header>
            <section class="scrollable wrapper bg-light">
                <form class="panel panel-default wrapper" name="editForm">
                    <input type="hidden" name="id" data-bind="value:selectedRow.id"/>
                    <input type="hidden" name="UserNum" data-bind="value:selectedRow.UserNum"/>
                    <div class="row m-b">                        <div class="col-xs-6">                            <fieldset>                                <label for="FirstName">First Name</label>
                                <input type="text" class="form-control m-b" name="FirstName" placeholder="First Name"
                                       data-bind="value:selectedRow.FirstName"/>
                                <label for="Username">Username</label>&nbsp;<span class="k-invalid-msg" data-for="Username"></span>                                <input type="text" class="form-control m-b" name="Username" placeholder="Username"
                                       data-bind="value:selectedRow.Username" required/>                                <label for="Password">Password</label>&nbsp;<span class="k-invalid-msg" data-for="Password"></span>                                <input type="password" class="form-control m-b" name="Password" placeholder="Password"
                                       data-bind="value:selectedRow.Password" required/>
                                <label for="LockOutDate">Lock Out Date</label>
                                <input type="text" class="form-control m-b no-border dateitem" name="LockOutDate" placeholder="Lockout Date"
                                       data-bind="value:selectedRow.LockOutDate"/>
                                <label for="FirstLogin">First Login</label>
                                <input type="text" class="form-control m-b no-border dateitem" name="FirstLogin" placeholder="First Login"
                                       data-bind="value:selectedRow.FirstLogin"/>
                                <label for="LoginCount">Login Count</label>
                                <input type="text" class="form-control m-b" name="LoginCount" placeholder="Login Count"
                                       data-bind="value:selectedRow.LoginCount"/>
                            </fieldset>                        </div>                        <div class="col-xs-6">                            <fieldset>
                                <label for="LastName">Last Name</label>
                                <input type="text" class="form-control m-b" name="LastName" placeholder="Last Name"
                                       data-bind="value:selectedRow.LastName"/>
                                <label for="DomainName">Domain Name</label>
                                <input type="text" class="form-control m-b" name="DomainName" placeholder="Domain"
                                       data-bind="value:selectedRow.DomainName"/>                                <label for="PasswordExpires">Password Expires</label>
                                <input type="text" class="form-control m-b no-border dateitem" name="PasswordExpires" placeholder="Expires"
                                       data-bind="value:selectedRow.PasswordExpires"/>
                                <label for="LockOutTime">Lock Out Time</label>
                                <input type="text" class="form-control m-b" name="LockOutTime" placeholder="LockOut Time"
                                       data-bind="value:selectedRow.LockOutTime"/>
                                <label for="LastLogin">Last Login</label>
                                <input type="text" class="form-control m-b no-border dateitem" name="LastLogin" placeholder="Last Login"
                                       data-bind="value:selectedRow.LastLogin"/>
                            </fieldset>                        </div>                    </div>
                    <div class="row m-b b-t b-b">
                        <div class="col-xs-2 padder-v">
                            <label for="IsActive">Active</label>
                            <input type="checkbox" name="IsActive"
                                   data-bind="checked:selectedRow.IsActive"/>
                        </div>
                        <div class="col-xs-2 padder-v">
                            <label for="IsLocked">Locked</label>
                            <input type="checkbox" name="IsLocked"
                                   data-bind="checked:selectedRow.IsLocked"/>
                        </div>
                        <div class="col-xs-3 padder-v">
                            <label for="ForcePWChange">Force Password Change</label>
                            <input type="checkbox" name="ForcePWChange"
                                   data-bind="checked:selectedRow.ForcePWChange"/>
                        </div>
                        <div class="col-xs-2 padder-v">
                            <label for="UseTFA">Use 2-Factor</label>
                            <input type="checkbox" name="UseTFA"
                                   data-bind="checked:selectedRow.UseTFA"/>
                        </div>
                        <div class="col-xs-3 padder-v">
                            <label for="TFAMethod">2FA Method</label>
                            <input type="text" name="TFAMethod"
                                   data-bind="value:selectedRow.TFAMethod"/>
                        </div>
                    </div>
                    <div class="row m-b">
                        <div class="col-xs-6">
                            <fieldset>
                                <label for="CompanyName">Company Name</label>
                                <input type="text" class="form-control m-b" name="CompanyName" placeholder="Company" data-bind="value:selectedRow.CompanyName"/>
                                <label for="Email">Email</label>
                                <input type="text" class="form-control m-b" name="Email" placeholder="Email" data-bind="value:selectedRow.Email"/>
                                <label for="SecurityQuestion">Security Question</label>
                                <input type="text" class="form-control m-b" name="SecurityQuestion" placeholder="Security Question" data-bind="value:selectedRow.SecurityQuestion"/>
                                <label for="HomePhone">Home Phone</label>
                                <input type="text" class="form-control m-b" name="HomePhone" placeholder="Home Phone" data-bind="value:selectedRow.HomePhone"/>
                                <label for="MobilePhone">Mobile Phone</label>
                                <input type="text" class="form-control m-b" name="MobilePhone" placeholder="Mobile Phone" data-bind="value:selectedRow.MobilePhone"/>
                            </fieldset>
                        </div>
                        <div class="col-xs-6">
                            <fieldset>
                                <label for="JobTitle">Job Title</label>
                                <input type="text" class="form-control m-b" name="JobTitle" placeholder="Title" data-bind="value:selectedRow.JobTitle"/>
                                <label for="Comments">Comments</label>
                                <input type="text" class="form-control m-b" name="Comments" placeholder="Comments" data-bind="value:selectedRow.Comments"/>
                                <label for="SecurityAnswer">Security Answer</label>
                                <input type="text" class="form-control m-b" name="SecurityAnswer" placeholder="Security Answer" data-bind="value:selectedRow.SecurityAnswer"/>
                                <label for="WorkPhone">Work Phone</label>
                                <input type="text" class="form-control m-b" name="WorkPhone" placeholder="Work Phone" data-bind="value:selectedRow.WorkPhone"/>
                                <label for="MobileCarrier">Mobile Carrier</label>
                                <input type="text" class="form-control m-b" name="MobileCarrier" data-bind="value:selectedRow.MobileCarrier"/>
                            </fieldset>
                        </div>
                    </div>
                    <span class="btn btn-primary" data-bind="click:saveRecord">Save</span>&nbsp;
                    <span class="btn btn-default" data-bind="click:cancelEdit">Cancel</span>
                </form>
            </section>
        </section>
    </aside>
</section>
