<!DOCTYPE html>
<html class="app" lang="en-us">
    <head>
        <meta charset="utf-8">
        <title><Spark_MasterTable> Updateable Grid</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" type="text/css" href="vendor/kendo/styles/kendo.common.min.css" />
        <link rel="stylesheet" type="text/css" href="vendor/kendo/styles/kendo.common-bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="vendor/kendo/styles/kendo.default.min.css" />
        <link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="vendor/animate-css/animate.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/font.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/<Spark_CSSFile>" />
        <link rel="stylesheet" type="text/css" href="assets/css/override.css" />
        <!-- Core Libraries -->
        <script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="vendor/kendo/js/kendo.all.min.js"></script>
        <script type="text/javascript" src="vendor/kendo/js/cultures/kendo.culture.en-US.min.js"></script>
        <script type="text/javascript" src="vendor/kendo/js/messages/kendo.messages.en-US.min.js"></script>
        <script type="text/javascript" src="vendor/jszip/dist/jszip.min.js"></script>
        <!-- Library Extensions -->
        <script type="text/javascript" src="vendor/psc/lib/progress.all.js"></script>
        <script type="text/javascript" src="vendor/spark/lib/plugins.js"></script>
        <script type="text/javascript" src="vendor/spark/lib/spark.js"></script>
    </head>
    <body>
        <section class="vbox">
            <header class="header header-md navbar bg-primary">
                <div class="navbar-header aside-sm">
                    <h2 class="m-l m-t-sm">Demo&nbsp;Application</h2>
                </div>
            </header>
            <section>
                <section class="hbox stretch" id="<Spark_TemplateName>View">
                    <aside class="bg-white">
                        <section class="vbox">
                            <header class="header bg-white b-b b-light">
                                <p class="h5"><Spark_MasterTable> Grid</p>
                            </header>
                            <section class="scrollable wrapper bg-light w-f">
                                <form class="form-group" data-role="validator" name="searchForm" novalidate="novalidate">
                                    <div class="row m-t-sm">
                                        <div class="col-sm-3">
                                            <input class="input-s m-t-xxs" name="<Spark_SearchField1Title>" placeholder="Search By <Spark_SearchField1Title>"
                                                   data-bind="value:params.searchValue"/>
                                            <span class="btn btn-primary btn-sm" data-bind="click:doSearch">Search</span>
                                        </div>
                                        <div class="col-sm-9"></div>
                                    </div>
                                </form>
                                <br/>
                                <div name="MasterGrid"></div>
                            </section>
                            <footer class="footer bg-white b-t">
                                <div name="MasterGridPager" class="m-t-xs"></div>
                            </footer>
                        </section>
                    </aside>
                </section>
            </section>
        </section>
    </body>
    <script type="text/javascript">
        var resourceName = "<Spark_ResourceName>";
        var searchField1 = "<Spark_SearchField1>";
        var searchOper1 = "<Spark_SearchField1Oper>";
        var datasetName = "ds<Spark_MasterTable>";
        var tableName = "tt<Spark_MasterTable>";
        var viewName = "#<Spark_TemplateName>View";

        var primaryVM = kendo.observable({
            context: {},
            params: {
                searchValue: ""
            },
            clearErrors: function(){
                var validator = spark.form.getValidator(viewName + " form[name=searchForm]");
                if (validator) {
                    validator.hideMessages();
                }
            },
            doSearch: function(ev){
                if (spark.form.validate(viewName + " form[name=searchForm]")) {
                    var params = this.toJSON().params || {};
                    var filter = []; // Add default options here.
                    if ((params.searchValue || "") !== "") {
                        filter = [{
                            field: searchField1,
                            operator: searchOper1,
                            value: params.searchValue
                        }];
                    }
                    getDataSource().filter(filter);
                }
            }
        });

        function onBeforeFill(jsdo, request){
            // Add context to the filter parameter in the request.
            if (request.objParam) {
                var data = JSON.parse(request.objParam.filter || "{}");
                var context = primaryVM.toJSON().context;
                data.context = context || {};
                request.objParam.filter = JSON.stringify(data);
            }
        }

        var _primaryDS = null;
        function getDataSource(primaryJSDO, useServerOpts){
            if (!_primaryDS) {
                // Set up a callback to run before each fill command.
                primaryJSDO.subscribe("beforeFill", onBeforeFill);

                // Create the primary datasource.
                _primaryDS = new kendo.data.DataSource({
                    pageSize: 20,
                    serverFiltering: true,
                    serverPaging: useServerOpts,
                    serverSorting: useServerOpts,
                    sort: {field: searchField1, dir: "asc"},
                    transport: {
                        jsdo: primaryJSDO,
                        tableRef: tableName
                    },
                    type: "jsdo",
                    error: function(e){
                        console.log("Error: ", e);
                        var error = "";
                        if (e.errorThrown) {
                            error = "\n" + e.errorThrown.message;
                        }
                        var response = (e.xhr || {}).response || "";
                        if (response !== "") {
                            var errobj = "";
                            try {
                                var errobj = JSON.parse(response);
                            }
                            catch(e) {
                                error = "Error while parsing response: " + response;
                            }

                            if (errobj) {
                                var dsErrors = (errobj[datasetName] ? errobj[datasetName]["prods:errors"] : null);
                                var i = null;
                                if (errobj._retVal) {
                                    error += "\n" + errobj._retVal;
                                } else if (errobj._errors instanceof Array && errobj._errors.length > 0) {
                                    for (i = 0; i < errobj._errors.length; i += 1) {
                                        error += "\n" + (errobj._errors[i]._errorNum || "")
                                              + " " + (errobj._errors[i]._errorMsg || "UNKNOWN");
                                    }
                                } else if (dsErrors && dsErrors[tableName] instanceof Array) {
                                    for (i = 0; i < errobj.dsErrors[tableName].length; i += 1) {
                                        error += "\n" + dsErrors[tableName][i]["prods:error"];
                                    }
                                }
                            }
                        }
                        alert("Error returned from server: " + error);
                        e.preventDefault();
                    }
                });
            }
            return _primaryDS;
        }

        function showGrid() {
            var gridColumns = [<Spark_GridFields>];

            gridColumns.push({
                command: ["edit", "destroy"],
                title: "&nbsp;",
                width: 250
            });

            // Create the primary grid component.
            var grid = $(viewName + " div[name=MasterGrid]").kendoGrid({
                autoBind: false,
                columns: gridColumns,
                columnMenu: true,
                dataSource: getDataSource(),
                editable: "popup",
                excel: {
                    allPages: true,
                    fileName: "Kendo UI Grid Export.xlsx",
                    proxyURL: "http://demos.telerik.com/kendo-ui/service/export",
                    filterable: true
                },
                filterable: true,
                groupable: true,
                height: "90%",
                pageable: {
                    refresh: true,
                    pageSizes: [10, 20, 40],
                    pageSize: 20,
                    buttonCount: 5
                },
                reorderable: true,
                resizable: true,
                scrollable: true,
                selectable: false,
                sortable: true,
                toolbar: ["create", "excel"]
            });

            // Moves grid pager to the footer.
            var pager = grid.find(".k-grid-pager");
            if (pager) {
                pager.appendTo($(viewName + " div[name=MasterGridPager]"));
            }

            primaryVM.set("params.searchValue", spark.getQueryStringValue(searchField1) || "");
            primaryVM.doSearch(); // Perform an initial search to populate the grid.

            $(viewName + " form[name=searchForm]")
                .on("submit", function(ev){
                    primaryVM.doSearch(ev);
                    ev.preventDefault();
                });
        }

        $(document).ready(function(){
            // Create session, perform login, create JSDO, and init screen.
            var serviceURI = "<Spark_ServiceURI>";
            var catalogURI = "<Spark_CatalogURI>";
            spark.createSession(serviceURI, catalogURI)
                .then(function(){
                    var jsdo = spark.createJSDO(resourceName);
                    var jsdoProps = jsdo.getMethodProperties("read");
                    var useServerOpts = false;
                    if (jsdoProps && jsdoProps.mappingType) {
                        useServerOpts = (jsdoProps.mappingType !== "");
                    }
                    initScreen(jsdo, useServerOpts); // Proceed with default JSDO.
                }, function(){
                    alert("Failed to initialize session.");
                });
        });

        // Primary screen initialization.
        function initScreen(primaryJSDO, useServerOpts){
            getDataSource(primaryJSDO, useServerOpts);

            // Bind the observable to the view.
            kendo.bind($(viewName), primaryVM);
            showGrid(); // Initialize grid.
        }
    </script>
</html>
