<section class="hbox stretch" id="<Spark_TemplateName>View">
    <aside class="bg-white">
        <section class="vbox">
            <header class="header bg-white b-b b-light">
                <p class="h5"><Spark_MasterTable> and <Spark_DetailTable></p>
            </header>
            <section class="scrollable wrapper bg-light">
                <form class="form-group" data-role="validator" name="searchForm" novalidate="novalidate">
                    <div class="input-group m-t-sm m-b-md" style="margin:0 auto;">
                        <input class="form-control input-s" name="<Spark_SearchField1Title>" placeholder="Search by <Spark_SearchField1Title>"
                               data-bind="value:params.searchValue" style="width:300px;">
                        <span class="btn btn-default btn-sm" data-bind="click:doSearch">Search</span>
                    </div>
                </form>
                <p class="h4"><Spark_MasterTable> and <Spark_DetailTable></p>
                <br/>
                <div name="MasterGrid"></div>
            </section>
            <footer class="footer bg-white b-t">
                <div name="MasterGridPager" class="m-t-xs"></div>
            </footer>
        </section>
    </aside>
</section>
