<!DOCTYPE html>
<html class="app" lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>Blank Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" type="text/css" href="vendor/kendo/styles/kendo.common.min.css" />
        <link rel="stylesheet" type="text/css" href="vendor/kendo/styles/kendo.common-bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="vendor/kendo/styles/kendo.default.min.css" />
        <link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="vendor/animate-css/animate.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/font.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/<Spark_CSSFile>" />
        <link rel="stylesheet" type="text/css" href="assets/css/override.css" />
        <!-- Core Libraries -->
        <script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="vendor/kendo/js/kendo.all.min.js"></script>
        <script type="text/javascript" src="vendor/kendo/js/cultures/kendo.culture.en-US.min.js"></script>
        <script type="text/javascript" src="vendor/kendo/js/messages/kendo.messages.en-US.min.js"></script>
        <script type="text/javascript" src="vendor/jszip/dist/jszip.min.js"></script>
        <!-- Library Extensions -->
        <script type="text/javascript" src="vendor/psc/lib/progress.all.js"></script>
        <script type="text/javascript" src="vendor/spark/lib/plugins.js"></script>
        <script type="text/javascript" src="vendor/spark/lib/spark.js"></script>
    </head>
    <body>
        <section class="vbox">
            <header class="header header-md navbar bg-primary">
                <div class="navbar-header aside-sm">
                    <h2 class="m-l m-t-sm">Demo&nbsp;Application</h2>
                </div>
            </header>
            <section>
                <section class="hbox stretch" id="<Spark_TemplateName>View">
                    <aside class="bg-white">
                        <section class="vbox">
                            <header class="header bg-white b-b b-light">
                                <p class="h5">Blank Template</p>
                            </header>
                            <section class="scrollable wrapper bg-light w-f">
                            </section>
                            <footer class="footer bg-white b-t">
                            </footer>
                        </section>
                    </aside>
                </section>
            </section>
        </section>
    </body>
    <script type="text/javascript">
        var viewName = "#<Spark_TemplateName>View";

        var primaryVM = kendo.observable({
            context: {},
            params: {}
        });

        $(document).ready(function(){
            // Create session, perform login, create JSDO, and init screen.
            var serviceURI = "<Spark_ServiceURI>";
            var catalogURI = "<Spark_CatalogURI>";
            spark.createSession(serviceURI, catalogURI)
                .then(function(){
                    initScreen();
                }, function(){
                    alert("Failed to initialize session.");
                });
        });

        // Primary screen initialization.
        function initScreen(){
            // Bind the observable to the view.
            kendo.bind($(viewName), primaryVM);
        }
    </script>
</html>
