<section class="hbox stretch" id="<Spark_TemplateName>View">
    <aside class="aside-md bg-white b-r">
        <section class="vbox">
            <header class="header b-b">
                <form class="form-group" data-role="validator" name="searchForm" novalidate="novalidate">
                    <div class="input-group m-t-sm">
                        <input class="form-control input-s" name="<Spark_SearchField1Title>" placeholder="Search By <Spark_SearchField1Title>"
                               data-bind="value:params.searchValue"/>
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-sm" data-bind="click:doSearch">Search</span>
                        </span>
                    </div>
                </form>
            </header>
            <section class="bg-light dker w-f">
                <div name="SearchGrid"></div>
            </section>
            <footer class="footer bg-white b-t no-padder text-center">
                <span class="btn bg-empty btn-sm no-border text-md" data-bind="click:createNew"><i class="fa fa-plus m-r-xs"></i> New Record</span>
            </footer>
        </section>
    </aside>
    <aside class="bg-white">
        <section class="vbox">
            <header class="header bg-white b-b b-light">
                <p class="h5"><Spark_MasterTable> Maintenance</p>
            </header>
            <section class="scrollable wrapper bg-light">
                <form class="panel panel-default wrapper" name="editForm">
                    <input type="hidden" name="id" data-bind="value:selectedRow.id"/>
                    <div class="row m-b">
                        <Spark_FormFields>
                    </div>
                    <span class="btn btn-primary" data-bind="click:saveRecord">Save</span>&nbsp;
                    <span class="btn btn-default" data-bind="click:deleteRecord">Delete</span>
                    <span class="btn btn-default" data-bind="click:cancelEdit">Cancel</span>
                </form>
            </section>
        </section>
    </aside>
</section>
