<!DOCTYPE html>
<html class="app" lang="en-us">
    <head>
        <meta charset="utf-8">
        <title><Spark_EntityName> Invoke</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" type="text/css" href="vendor/kendo/styles/kendo.common.min.css" />
        <link rel="stylesheet" type="text/css" href="vendor/kendo/styles/kendo.common-bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="vendor/kendo/styles/kendo.default.min.css" />
        <link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="vendor/animate-css/animate.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/font.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/<Spark_CSSFile>" />
        <link rel="stylesheet" type="text/css" href="assets/css/override.css" />
        <!-- Core Libraries -->
        <script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="vendor/kendo/js/kendo.all.min.js"></script>
        <script type="text/javascript" src="vendor/kendo/js/cultures/kendo.culture.en-US.min.js"></script>
        <script type="text/javascript" src="vendor/kendo/js/messages/kendo.messages.en-US.min.js"></script>
        <script type="text/javascript" src="vendor/jszip/dist/jszip.min.js"></script>
        <!-- Library Extensions -->
        <script type="text/javascript" src="vendor/psc/lib/progress.all.js"></script>
        <script type="text/javascript" src="vendor/spark/lib/plugins.js"></script>
        <script type="text/javascript" src="vendor/spark/lib/spark.js"></script>
    </head>
    <body>
        <section class="vbox">
            <header class="header header-md navbar bg-primary">
                <div class="navbar-header aside-sm">
                    <h2 class="m-l m-t-sm">Demo&nbsp;Application</h2>
                </div>
            </header>
            <section>
                <section class="hbox stretch" id="<Spark_TemplateName>View">
                    <aside class="bg-white">
                        <section class="vbox">
                            <header class="header bg-white b-b b-light">
                                <p class="h5"><Spark_EntityName></p>
                            </header>
                            <section class="scrollable wrapper bg-light w-f">
                                <form class="form-group" data-role="validator" name="searchForm" novalidate="novalidate">
                                    <div class="input-group m-t-sm" style="margin: 0 auto;">
                                        <Spark_SearchFields>
                                        <span class="btn btn-default btn-sm" data-bind="click:doSearch">Search</span>
                                    </div>
                                </form>
                                <br/>
                                <div name="MasterGrid"></div>
                            </section>
                        </section>
                    </aside>
                </section>
            </section>
        </section>
    </body>
    <script type="text/javascript">
        var resourceName = "<Spark_ResourceName>";
        var datasetName = "<Spark_DatasetName>";
        var tableName = "<Spark_TempTableName>";
        var viewName = "#<Spark_TemplateName>View";

        var primaryVM = kendo.observable({
            params: {},
            doSearch: function(ev){
                if (spark.form.validate(viewName + " form[name=searchForm]")) {
                    var self = this;
                    ev.preventDefault();

                    // Convert form data into a dsParam dataset.
                    var params = this.toJSON().params;
                    var data = {
                        dsParam: {
                            ttParam: []
                        }
                    }
                    $.each(params, function(name, value) {
                        data.dsParam.ttParam.push({
                            ttName: name,
                            ttValue: value
                        });
                    });

                    // Prepare for invoke on JSDO.
                    _primaryJSDO.invoke("GetGridData", data)
                        .then(function(jsdo, success, request){
                            var response = request.response || {};
                            var data = ((response[datasetName] || {})[datasetName] || [])[tableName] || [];
                            var grid = $(viewName + " div[name=MasterGrid]").getKendoGrid();
                            grid.dataSource.data(data);
                        });
                    }
            }
        });

        function showGrid() {
            var gridColumns = [<Spark_GridFields>];

            $(viewName + " div[name=MasterGrid]").kendoGrid({
                autoBind: false,
                columns: gridColumns,
                columnMenu: true,
                dataSource: new kendo.data.DataSource({pageSize: 20}),
                excel: {
                    allPages: true,
                    fileName: "Kendo UI Grid Export.xlsx",
                    proxyURL: "http://demos.telerik.com/kendo-ui/service/export",
                    filterable: true
                },
                filterable: true,
                groupable: true,
                height: 570,
                pageable: {
                    pageSizes: [10, 20, 40],
                    pageSize: 10,
                    buttonCount: 5
                },
                reorderable: true,
                resizable: true,
                scrollable: true,
                selectable: false,
                sortable: true,
                toolbar: ["excel"]
            });
        }

        $(document).ready(function(){
            // Create session, perform login, create JSDO, and init screen.
            var serviceURI = "<Spark_ServiceURI>";
            var catalogURI = "<Spark_CatalogURI>";
            spark.createSession(serviceURI, catalogURI)
                .then(function(){
                    var jsdo = spark.createJSDO(resourceName);
                    var jsdoProps = jsdo.getMethodProperties("read");
                    var useServerOpts = false;
                    if (jsdoProps && jsdoProps.mappingType) {
                        useServerOpts = (jsdoProps.mappingType !== "");
                    }
                    initScreen(jsdo, useServerOpts); // Proceed with default JSDO.
                }, function(){
                    alert("Failed to initialize session.");
                });
        });

        // Primary screen initialization.
        _primaryJSDO = null;
        function initScreen(primaryJSDO, useServerOpts){
            // Bind the observable to the view.
            kendo.bind($(viewName), primaryVM);
            _primaryJSDO = primaryJSDO;
            showGrid(); // Initialize grid.
        }
    </script>
</html>
