<!DOCTYPE html >
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>$unitName</title>

<link rel="StyleSheet" href="${docRoot}css/stylesheet.css"
	type="text/css" media="all">

</head>
<body>
	<!-- package name  and class name-->
	<div class="pkg_class_name">
		 <a href="package.html">$packageName</a>: $className $unitType 
	</div>
	<br>
	<!--Class Name -->
	<div  class="title_name">
	$className 
	
	#if( $model.isAbstract() == "true" )
		ABSTRACT
	#elseif( $model.isFinal() == "true" )
		FINAL
	#end
	$unitType</div>

	<!-- class comment should go here -->
	<div class="paragraph">
	  <span class="detail_field_title" width="50px">Author(s)</span>:
	  #getDisplayString($model "Author(s)")<br>
	  <span class="detail_field_title" width="50px">Created</span>:
	  #getDisplayString($model "Created")<br>
	  <span class="detail_field_title" width="50px">Purpose</span>:
	  #getDisplayString($model "Purpose")<br>
	  <span class="detail_field_title" width="50px">Description</span>:
	  #getDisplayString($model "Description")<br>
	  <span class="detail_field_title" width="50px">Notes</span>:
	  #getDisplayString($model "Notes")<br>
	</div>
	
	#getAllModifiers( $model )
	
	#if( $model.isSerializable() )
	<div class="paragraph">
	<span class="detail_field_title" style="font-size: 15px;" width="50px">Serializable</span>:
	  $model.isSerializable()<br>
	</div>
	#end
	
	#if( $model.isWidgetPool() )
	<div class="paragraph">
	<span class="detail_field_title" style="font-size: 13px;" width="50px">USE-WIDGET-POOL</span>:
	  $model.isWidgetPool()<br>
	</div>
	#end
	
	<!-- extends section-->
	#if( $superClass)
	#if( $unitType == "INTERFACE" )
		<div  class="section">Super Interface</div>
	#else
		<div  class="section">Super Class</div>
	#end
	<div  class="paragraph">
		<span class="code">
		#getHyperLink( $model $superClass )
		</span>
	</div>
	#end

	<!-- inherits section-->
	#if( $interfaceArray.size() != 0)
	<div  class="section">Interfaces</div>
	<div  class="paragraph">
		<span class="code">
		#foreach( $interface in $interfaceArray )
			<span class="code">
				#getHyperLink( $model $interface )
			</span>&nbsp 
		#end 
		</span>
	</div>
	#end
	

	<!-- CONSTRUCTOR SUMMARY SECTION -->
	#if ( $constructors.size() != 0 )
	
	<div class="title_name">
		Constructors<br>
	</div>
		
		<table class="table_summary" cellspacing="0" summary="">
			
				#* counter to maintain number of elements in a row Only two elements
				are allowed in a row *# 
				#set ( $rowItems = 0 ) 
				#foreach( $const in $constructors ) 
					#if ( $rowItems == 0 || $rowItems == 2) 
						#set ($rowItems = 0 )
				<tr>
					#end
					<td class="table_data">
						<div class="cell_data">
							 <a
								href="${unitName}.html#${const.getName()}_Constructor"
								title="$const.getName()">$const.getSignature()</a>
						</div>
					</td> 
					#set ( $temp = $rowItems ) 
					#set ( $rowItems = $rowItems + 1 ) 
					#if( $rowItems == 2 )
				</tr>
					#end 
				#end 
				#if( $rowItems == 1 )
				</tr>
				#end
		</table>

	#end
	<!-- CONSTRUCTOR SUMMARY SECTION END -->

	<!-- methods summary section -->
	#if ( $methods.size() != 0 )
	<div class="title_name">
		Methods<br>
	</div>
	
	

	<table class="table_summary" cellspacing="0" summary="">

		#* counter to maintain number of elements in a row Only two elements
		are allowed in a row *# 
		#set ( $rowItems = 0 ) 
		#foreach( $method in $methods ) 
			#if ( $rowItems == 0 || $rowItems == 2) 
				#set ( $rowItems = 0 )
		<tr>
			#end
			<td class="table_data">
				<div  class="cell_data">
					<a	href="${unitName}.html#${method.getName()}_Method"
						title="$method.getName()">$method.getSignature()</a>
				</div>
			</td> 
			#set ( $temp = $rowItems ) 
			#set ( $rowItems = $rowItems + 1 ) 
			#if( $rowItems == 2 )
		</tr>
			#end 
		#end 
		#if( $rowItems == 1 )
		</tr>
		#end
	</table>
	
	#end
	<!-- method summary section end -->


	<!-- EVENT SUMMARY SECTION -->
	#if ( $events.size() != 0 )
	<div class="title_name">
		Events<br>
	</div>

	
	<table class="table_summary" cellspacing="0" summary="">
			
		#* counter to maintain number of elements in a row Only two elements
		are allowed in a row *# 
		#set ( $rowItems = 0 ) 
		#foreach( $event in $events ) 
			#if ( $rowItems == 0 || $rowItems == 2) 
				#set ( $rowItems = 0 )
		<tr>
			#end
			<td class="table_data">
				<div class="cell_data">
					<a	href="${unitName}.html#${event.getName()}_Event"
						title="$event.getName()">$event.getSignature()</a>
				</div>
			</td> 
			#set ( $temp = $rowItems ) 
			#set ( $rowItems = $rowItems + 1 ) 
			#if( $rowItems == 2 )
		</tr>
			#end 
		#end 
		#if( $rowItems == 1 )
		</tr>
		#end
	</table>
	
	#end
	<!-- EVENT SUMMARY SECTION END -->

	<!-- PROPERTY SUMMARY SECTION -->
	#if ( $properties.size() != 0 )
	<div class="title_name">
		Properties<br>
	</div>

	<table class="table_summary" cellspacing="0" summary="">
			
		#* counter to maintain number of elements in a row Only two elements
		are allowed in a row *# 
		#set ( $rowItems = 0 ) 
		#foreach( $prop in $properties ) 
			#if ( $rowItems == 0 || $rowItems == 2) 
				#set ($rowItems = 0 )
			<tr>
			#end
				<td class="table_data">
					<div class="cell_data">
						<a href="${unitName}.html#${prop.getName()}_Property"
								title="$prop.getName()">$prop.getName()</a>
					</div>
				</td> 
			#set ( $temp = $rowItems ) 
			#set ( $rowItems = $rowItems + 1 ) 
			#if( $rowItems == 2 )
			</tr>
			#end 
		#end 
		#if( $rowItems == 1 )
			</tr>
		#end
	</table>
	
	#end
	<!-- PROPERTY SUMMARY SECTION END -->

	#parse("fields_summary_template.vm")

	
	<!-- ============ CONSTRUCTOR DETAIL ========== --> 
	#if( $constructors.size() != 0)
	<div class="title_name">Constructor Detail<br></div>
	
	#foreach( $const in $constructors )
	<hr/> 
	<a name="${const.getName()}_Constructor"></a>
	<div class="section">$const.getName() constructor</div>
	<div class="paragraph">
		<!-- tags should go here -->
			<span class="detail_field_title" width="50px">Purpose</span>:
	  #getDisplayString($const "Purpose")<br>
	  <span class="detail_field_title" width="50px">Description</span>:
	  #getDisplayString($const "Notes" )<br>

	</div>
	
	<div class="detail_field">
		<span class="detail_field_title" >Modifiers </span>:&nbsp;
		#foreach( $modifier in $const.getAllModifiers() )
			#if( $modifier != "CONSTRUCTOR" )
				$modifier &nbsp
			#end
		#end
	</div>
	
	
	<table class="table_syntax" cellspacing="0" summary="">
		<caption class="syntax-title">
				<span>Syntax</span>&nbsp;
		</caption>
		<tr>
			<td class="element_detail">
				<span class="element_detail_code">$const.getSignature() </span>
			</td>
		</tr>
	</table>
	
	#set ( $parameters = $const.getParameters() ) 
	#if ( $parameters.size() != 0 ) 
	<div class="syntax-title">
		<span>Parameters</span>&nbsp;
	</div>
	#getDisplayParam($model $const)
	#end
	
	
	
	#end
	#end 
	
	<!-- ============ END CONSTRUCTOR DETAIL ========== --> 
	<!-- ============ METHOD DETAIL ========== -->
	
	#if( $methods.size() != 0)
	
	<div class="title_name">
		Method Detail<br>
	</div>
	 
	#foreach( $method in $methods )
	<hr/>
	<a name="${method.getName()}_Method"></a>
	<div class="section">$method.getName() method</div>
	
	<div class="paragraph">
		<!-- tags should go here -->
			<span class="detail_field_title" width="50px">Purpose</span>:
	  #getDisplayString($method "Purpose")<br>
	  <span class="detail_field_title" width="50px">Description</span>:
	  #getDisplayString($method "Notes" )<br>

	</div>
	<div class="detail_field">
		<span class="detail_field_title" width="50px">Return type</span>:&nbsp;#getHyperLink($model $method.getReturnType() )&nbsp;#getDisplayString($method "return")
	</div>
	<div class="detail_field">
		<span class="detail_field_title" >Modifiers </span>:&nbsp;
		#foreach( $modifier in $method.getAllModifiers() )
			$modifier &nbsp
		#end
	</div>
	
	<table class="table_syntax" cellspacing="0" summary="">
		<caption class="syntax-title">
				<span>Syntax</span>&nbsp;
		</caption>
		<tr>
			<td class="element_detail">
				<span class="element_detail_code">$method.getSignature()</span>
			</td>
		</tr>
	</table>
	
	#set ( $parameters = $method.getParameters() ) 
	#if ( $parameters.size() != 0 ) 
	<div class="syntax-title">
		<span>Parameters</span>&nbsp;
	</div>
	#getDisplayParam($model $method)
	#end
	
	#end
	#end 
	
	<!-- ============ END METHOD DETAIL ========== --> 
	<!-- ============ EVENT DETAIL ========== -->
	#if( $events.size() != 0)
	<div class="title_name">
		Event Detail<br>
	</div>
	
	#foreach( $event in $events )
	<hr/> 
	<a name="${event.getName()}_Event"></a>
	<div class="section">$event.getName() event</div>
	
	<div class="paragraph">
		<!-- tags should go here -->
		#getDisplayString($event "comment")
	</div>
	<div class="detail_field">
		<span class="detail_field_title" width="50px">Return type</span>:&nbsp;#getHyperLink($model $event.getReturnType() )
	</div>
	<div class="detail_field">
		<span class="detail_field_title" >Modifiers </span>:&nbsp;
		#foreach( $modifier in $event.getAllModifiers() )
			$modifier &nbsp
		#end
	</div>
	
	#set( $delegateName =  $event.getDelegateName() )
	#if ( $delegateName )
	<div class="detail_field">
		<span class="detail_field_title" >Delegate </span>:
		$delegateName
	</div>
	#end
	
	<table class="table_syntax" cellspacing="0" summary="">
		<caption class="syntax-title">
				<span>Syntax</span>&nbsp;
		</caption>
		<tr>
			<td class="element_detail">
				<span class="element_detail_code">$event.getSignature()</span>
			</td>
		</tr>
	</table>
	
	#set ( $parameters = $event.getParameters() ) 
	#if ( $parameters.size() != 0 ) 
	<div class="syntax-title">
		<span>Parameters</span>&nbsp;
	</div>
	#getDisplayParam($model $event)
	#end
	
	#end
	#end 
	<!-- ============ END EVENT DETAIL ========== -->
	<!-- ============ PROPERTY DETAIL ========== -->
	#if( $properties.size() != 0)
	<div class="title_name">
		Property Detail<br>
	</div>
	
	#foreach( $prop in $properties ) 
	<hr/> 
	<a name="${prop.getName()}_Property"></a>
	
	<div class="section">$prop.getName() property</div>
	<div class="paragraph">
		 #getDisplayString($prop "comment")
		<!-- tags should go here -->
	</div>
	<div class="detail_field">
		<span class="detail_field_title" width="50px">Data type</span>:&nbsp;#getHyperLink($model $prop.getDataType() )
	</div>
	#set( $extent = $prop.getExtent() )
	#if( $extent > 0)
	<div class="detail_field">
		<span class="detail_field_title" width="50px">Extent</span>:&nbsp;$prop.getExtent()
	</div>
	#end
	<div class="detail_field">
		<span class="detail_field_title" >Modifiers </span>:&nbsp;
		#foreach( $modifier in $prop.getAllModifiers() )
			$modifier &nbsp
		#end
	</div>
	
	#end
						 
				
	#end 
	<!-- ============ END PROPERTY DETAIL ========== -->

	#parse("fields_detail_template.vm")

	#parse("copyright_template.vm")
</body>
</html>