<section class="hbox stretch" id="HomeView">
    <section class="vbox wrapper">
        <header></header>
        <section class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6 text-center bg-white">
                <h1>
                    <span class="fa-stack fa-2x icon-muted">
                        <i class="fa fa-file-o fa-stack-2x"></i>
                        <i class="fa fa-thumbs-up fa-stack"></i>
                    </span>
                </h1>
                <h2 class="m-t-lg">Start Using The Application</h2>
                <p class="text-lg text-muted">Select a menu option from above to get started.</p>
            </div>
            <div class="col-xs-3"></div>
        </section>
    </section>
</section>
