<section class="hbox stretch" id="<Spark_TemplateName>View">
    <aside class="bg-white">
        <section class="vbox">
            <header class="header bg-white b-b b-light">
                <p class="h5">Custom Template</p>
            </header>
            <section class="scrollable wrapper bg-light w-f">
                <Spark_SearchField1>
                <Spark_DetailTable>
                <Spark_MasterKey1>
                <Spark_DetailKey1>
            </section>
            <footer class="footer bg-white b-t">
                Generated for <Spark_EntityName>
            </footer>
        </section>
    </aside>
</section>
