<!DOCTYPE html >
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>$unitName $unitType</title>

<link rel="StyleSheet" href="${docRoot}css/stylesheet.css"
	type="text/css" media="all">

</head>
<body >
	<header>
		<!-- package name  and class name-->
		<div class="pkg_class_name">
			<a href="package.html">$packageName</a> : $unitName $unitType 
		</div>
	</header>
	<br>
	<!--Procedure Name -->
	<div class="title_name">$unitName $unitType</div>
        <div class="paragraph">
          <span class="detail_field_title" width="50px">Author(s)</span>:
          #getDisplayString($model "Author(s)")<br>
          <span class="detail_field_title" width="50px">Created</span>:
          #getDisplayString($model "Created")<br>
          <span class="detail_field_title" width="50px">Purpose</span>:
          #getDisplayString($model "Purpose")<br>
          <span class="detail_field_title" width="50px">Description</span>:
          #getDisplayString($model "Description")<br>
          <span class="detail_field_title" width="50px">Notes</span>:
          #getDisplayString($model "Notes")<br>
        </div>
	</div>
	
	<!-- PROCEDURE PARAMETERS SUMMARY SECTION -->
	#if ( $procParams.size() != 0 )
	<div class="section">
		Procedure Parameters<br>
	</div>

	<table class="table_summary" cellspacing="0" summary="">
		#* counter to maintain number of elements in a row Only two elements
		are allowed in a row *# 
		#set ( $rowItems = 0 ) 
		#foreach( $param in $procParams ) 
			#if ( $rowItems == 0 || $rowItems == 2) #set ( $rowItems = 0 )
		<tr>
			#end
			<td class="table_data">
				<div class="cell_data">
					<a	href="${unitName}.html#${param.getName()}_Parameter"
						title="$param.getName()">$param.getName()</a>
				</div>
			</td> 
			#set ( $temp = $rowItems ) 
			#set ( $rowItems = $rowItems + 1 ) 
			#if( $rowItems == 2 )
		</tr>
			#end 
		#end 
		#if( $rowItems == 1 )
		</tr>
		#end
	</table>
	
	#end
	<!-- PROCEDURE PARAMETERS SUMMARY SECTION END -->
	
	<!-- INTERNAL PROCEDURE SUMMARY SECTION -->
	#if ( $procs.size() != 0 )
	<div class="section">
		Procedures<br>
	</div>

	<table class="table_summary" cellspacing="0" summary="">
		#* counter to maintain number of elements in a row Only two elements
		are allowed in a row *# 
		#set ( $rowItems = 0 ) 
		#foreach( $proc in $procs ) 
			#if ( $rowItems == 0 || $rowItems == 2) #set ( $rowItems = 0 )
		<tr>
			#end
			<td class="table_data">
				<div class="cell_data">
					<a	href="${unitName}.html#${proc.getName()}_Procedure"
						title="$proc.getName()">$proc.getSignature()</a>
				</div>
			</td> 
			#set ( $temp = $rowItems ) 
			#set ( $rowItems = $rowItems + 1 ) 
			#if( $rowItems == 2 )
		</tr>
			#end 
		#end 
		#if( $rowItems == 1 )
		</tr>
		#end
	</table>
	
	#end
	<!-- INTERNAL PROCEDURE SUMMARY SECTION END -->

	<!-- function summary section -->
	#if ( $functions.size() != 0 )
	<div class="section">
		Functions<br>
	</div>

	<table class="table_summary" cellspacing="0" summary="">
		#* counter to maintain number of elements in a row Only two elements
		are allowed in a row *# 
		#set ( $rowItems = 0 ) 
		#foreach( $function in $functions ) 
			#if( ! $function.isPrototype() ) 
				#if ( $rowItems == 0 || $rowItems == 2) 
					#set ( $rowItems = 0 )
		<tr>
				#end
			<td class="table_data">
			<div class="cell_data">
					<a	href="${unitName}.html#${function.getName()}_Function"
						title="$function.getName()">$function.getSignature()</a>
			</div>
			</td> 
				#set ( $temp = $rowItems ) 
				#set ( $rowItems = $rowItems + 1 ) 
				#if( $rowItems == 2 )
		</tr>
				#end 
			#end 
		#end 
		#if( $rowItems == 1 )
		</tr>
		#end
	</table>

	#end
	<!-- function summary section end -->

	#parse("fields_summary_template.vm")

<!-- ============ PROCEDURE PARAMETERS DETAIL ========== --> 
#if( $procParams.size() != 0)
	<div class="title_name">
		Parameter Detail<br>
	</div>
	
	#foreach( $param in $procParams ) 
	<hr/> 
	<a name="${param.getName()}_Parameter"></a>
	
	<div class="section">$param.getName() parameter</div>
	<div class="paragraph">
		#getDisplayString($param "comment")
	</div>
	<div class="detail_field">
		<span class="detail_field_title" width="50px">Data type</span>:&nbsp;#getHyperLink( $model $param.getDataType() )
	</div>
	<div class="detail_field">
		<span class="detail_field_title" width="50px">Access</span>:&nbsp;$param.getAccessModifier()
	</div>
	
	#set( $extent = $param.getExtent() )
	#if( $extent > 0)
	<div class="detail_field">
		<span class="detail_field_title" width="50px">Extent</span>:&nbsp;$param.getExtent()
	</div>
	#end
	
	#end
						 
				
#end 
<!-- ============ END PROCEDURE PARAMETERS DETAIL ========== --> 
	
<!-- ============ Procedure DETAIL ========== --> 
#if( $procs.size() != 0)
	
	<div class="title_name">
		Procedure Detail<br>
	</div>
	 
	#foreach( $proc in $procs )
	<hr/>
	<a name="${proc.getName()}_Procedure"></a>
	<div class="section">$proc.getName() procedure</div>
	
	<div class="paragraph">
		<!-- tags should go here -->
	<span class="detail_field_title" width="50px">Purpose</span>:
	  #getDisplayString($proc "Purpose")<br>
	  <span class="detail_field_title" width="50px">Description</span>:
	  #getDisplayString($proc "Notes" )<br>
	</div>
	
	<div class="detail_field">
        <span class="detail_field_title" width="50px">Access</span>:&nbsp;$proc.getAccessModifier()
    </div>

	<table class="table_syntax" cellspacing="0" summary="">
		<caption class="syntax-title">
				Syntax &nbsp;
		</caption>
		<tr>
			<td class="element_detail">
				<span class="element_detail_code">$proc.getSignature()</span>
			</td>
		</tr>
	</table>

	#set ( $parameters = $proc.getParameters() ) 
	#if ( $parameters.size() != 0 ) 
	<div class="syntax-title">
		<span>Parameters</span>&nbsp;
	</div>
	#getDisplayParam($model $proc)

	#end
	
	
	
	#end
#end  
<!-- ============ END PROCEDURE DETAIL ========== --> 
<!-- ============ FUNCTION DETAIL ========== -->
#if( $functions.size() != 0)
	
	<div class="title_name">
		Function Detail<br>
	</div>
	 
	#foreach( $function in $functions )
		#if( ! $function.isPrototype() ) 
	<hr/>
	<a name="${function.getName()}_Function"></a>
	<div class="section">$function.getName() function</div>
	
	<div class="paragraph">
		<!-- tags should go here -->
	<span class="detail_field_title" width="50px">Purpose</span>:
	  #getDisplayString($function "Purpose")<br>
	  <span class="detail_field_title" width="50px">Description</span>:
	  #getDisplayString($function "Notes" )<br>
	</div>
	
	<div class="detail_field">
        <span class="detail_field_title" width="50px">Access</span>:&nbsp;$function.getAccessModifier()
    </div>
	
	<div class="detail_field">
		<span class="detail_field_title" width="50px">Return type</span>:#getHyperLink( $model $function.getReturnType() ) &nbsp;#getDisplayString($function "return")
	</div>
	
	
	<table class="table_syntax" cellspacing="0" summary="">
		<caption class="syntax-title">
				Syntax &nbsp;
		</caption>
		<tr>
			<td class="element_detail">
					<span class="element_detail_code">$function.getSignature() </span>
			</td>
		</tr>
	</table>
	
			#set ( $parameters = $function.getParameters() ) 
			#if ( $parameters.size() != 0 ) 
	<div class="syntax-title">
		Parameters &nbsp;
	</div>
		#getDisplayParam($model $function)
			#end
		#end
	#end
#end 				

<!-- ============ END FUNCTION DETAIL ========== -->

	#parse("fields_detail_template.vm")

	#parse("copyright_template.vm")
	
</body>
</html>


