* {margin:0;padding:0}
body {
    font-family: verdana;
    font-size: 1em;
}

h2 {color: white;}
html {overflow: hidden;}
body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
#header{
    position: absolute;
    top: 0px;    
    left: 0px;
    width:100%;
    height: 80px;
    overflow: hidden;
}
#main {
    position: absolute;    
    top: 140px;
    left: 275px;
    right: 13px;
    bottom: 20px;
    overflow: auto;
}
#side	 {    
    /*position: absolute;    
   top: 110px;
    left: 20px;
    bottom: 20px; 
    width: 270px;
    overflow: auto;*/ 
	
	padding-top: 10px;
	padding-bottom: 10px;
	/*margin: 0px 12px 15px;
	min-height: 100px;*/
	
	background-color: #FFFFFF;
	/*border-style: solid;
	border-color: #A4A4A4;
	border-width: 1px;*/
	/*border-radius: 4px;
	box-shadow: 1px 1px 4px 1px #A4A4A4;
	margin-right: 4px;*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ -moz-box-sizing: border-box; /* Firefox, other Gecko */ box-sizing: border-box; 
	
	
}

#search{
    border-bottom: 1px solid #A4A4A4;
}

#searchBox{
	border:none;
	width:84%;
}

h2,p {padding:10px;margin:0 0 .5em 0}

iframe{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
}

/* ul.LinkedList { display: block; }*/
/* ul.LinkedList ul { display: none; } */
.HandCursorStyle { cursor: pointer; cursor: hand; }  /* For IE */

/*#side li > ul
{
	margin-left:10px;
	list-style-type:none;
}
#side ul
{
	//line-height:15px;
		list-style-type:none;
}*/
/*.treeexpand
{
	background-image:url('../images/collapse.png');
	background-repeat: no-repeat;
	background-position: right 0px;
	cursor:pointer;
	 
}
.treecollapse
{
	background-image:url('../images/expand.png');
	background-repeat: no-repeat;
	background-position: right 0px;
	cursor:pointer;
}*/
.selected
{
	background: #54565b;
}
/*.treeentry {
font-family: Lato, Arial, sans-serif;
font-size: 12 pt;
cursor: pointer;
border-style: solid;
border-color: #CCCCCC;
border-width: 0 0 0 0;
margin: 0;
padding: 4px 0 4px 0;
}*/

.treeentry_selected, .treeentry_selected:hover {
background: #54565b;
}

.doc_title {
    color: #666;
    font-family: Lato,Helvetica,Arial,Tahoma,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    margin: 0pt 0pt 12pt;
    padding-bottom: 0%;
    text-align: left;
    text-indent: 0pt;
    text-transform: none;
    vertical-align: baseline;
}

li > a {
    color: #54565B;
    font-family: Lato,Arial,sans-serif;
    font-size: 14px;
    text-decoration: none;
	position: relative;
	z-index: 50;
}

a{
	cursor:pointer;
}

.tree ul {
    list-style: none outside none;
	position: relative;
	display: inline-block;
	min-width: 100%;
}
.tree li a {
    line-height: 20px;
}
.tree > ul > li > a {
    color: #54565B;
    display: block;
    font-weight: normal;
    position: relative;
    text-decoration: none;
}
.tree li > a {
    padding: 0 0 0 30px;
}
.tree li.parent > a:before {
    background-image: url("../images/fldr_obj.gif");
   background-position: 0px centre;
     content: ""; 
    display: block;
    height: 15px;
    left: 11px;
    position: absolute;
    top: 0px;
    vertical-align: middle;
    width: 16px;
	z-index:100;
}
.tree li.INTERFACE > a:before, .tree li.CLASS > a:before  {
    background-image: url("../images/cls_file.gif")  ;
    background-position: 0px centre;
     content: ""; 
    display: block;
    height: 15px;
    left: 11px;
    position: absolute;
    top: 0px;
    vertical-align: middle;
    width: 18px;
	z-index:100;
}
 
.tree li.PROCEDURE > a:before {
    background-image: url("../images/p_file.gif")  ;
    background-position: 0px centre;
     content: ""; 
    display: block;
    height: 15px;
    left: 11px;
    position: absolute;
    top: 0px;
    vertical-align: middle;
    width: 18px;
	z-index:100;
}
.tree li.INCLUDE > a:before {
    background-image: url("../images/i_file.gif")  ;
    background-position: 0px centre;
     content: ""; 
    display: block;
    height: 15px;
    left: 11px;
    position: absolute;
    top: 0px;
    vertical-align: middle;
    width: 18px;
	z-index:100;
}
.tree ul li.active > a:before {
    background-position: 0 centre;
}

.tree ul li ul {
    /*border-left: 1px solid #D9DADB;
    
    
    overflow: hidden;*/
    display: none;
}
.tree ul li ul li {
    position: relative;
}
.tree ul li ul li:before {
    border-bottom: 1px dashed #E2E2E3;
    content: "";
    left: -20px;
    position: absolute;
    top: 12px;
    width: 15px;
}


.whole-row-selection {
    width: 100%;
	height:22px;
    cursor: pointer;
    position: absolute;
    left: 0px;
    -moz-user-select: none;
	z-index: 30;
}

.remove-hover{
	background-color : white;
}

.add-hover{
	color : #54565B;
}

.tree-div{
	position: absolute;
	width: 260px;
	top: 140px;
	overflow: hidden;
	bottom: 10px;
	left:12px;
	border:1px solid #A4A4A4;
}

.hover-bg{
	background-color : #F0F0F3  ;
}
