
/* Text size adjustments */

body {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
	font-family: Lato, Arial, sans-serif;
	font-size: 10pt;
	margin: 0;
    padding: 12px;
	padding-top: 0px;;
    word-wrap: break-word;
}
a:link:active  { color: #57c0a4; font-weight: bold; text-decoration: none;}
a:link         { color: #57c0a4; font-weight: bold; text-decoration: none;}
a:visited      { color: #57c0a4; font-weight: bold; text-decoration: none;}
a:link:hover, a:visited:hover   { text-decoration: underline;}



.api_title {
    font-family: Lato, Arial, Tahoma; sans-serif;
    font-size: 11px;
    font-style: italic;
    margin-bottom: 11px;
    color: #666666;
    
}

.pkg_class_name a:link {
    color: #57c0a4;
    text-decoration: none;
}

.pkg_class_name a:visited {
    color: #57c0a4;
    text-decoration: none;
}

.pkg_class_name a:link:hover {
    color: #57c0a4;
    text-decoration: underline;
}

.pkg_class_name a:visited:hover {
    color: #57c0a4;
    text-decoration: underline;
}

div.copyright_style {

	font-size: 8pt;
	font-family: Arial;
	color: #666666; 
	text-align: center;

}

div.title_name, caption.title_name
{
  color: #666666;
  font-family: Lato, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 12.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  padding-bottom: 0%;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.paragraph, caption.paragraph
{
  color: #666666;
  font-family: Lato, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 10.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 10.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.section, caption.section
{
  color: #666666;
  font-family: Lato, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 1px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 11.0pt;
  padding-bottom: 1px;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.anchor, caption.anchor
{
  color: #666666;
  font-family: Lato, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-top: -10px;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

table.table_summary {
    border-color: #DCDCDC;
    border-style: solid;
    border-width: medium;
    border-collapse: collapse;
    margin: 0pt 0pt 12pt;
    padding: 4pt;
    text-align: left;
	width: 378pt
}

td.table_data {
    background-color: #FFF;
    border-color: #DCDCDC;
    border-style: solid;
    border-width: thin;
    padding: 4pt;
    vertical-align: top;
    width: 188.947pt;
}

div.cell_data, caption.cell_data {
    color: #666;
    font-family: Lato,Helvetica,Arial,Tahoma,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin: 6pt 0pt;
    text-align: left;
    text-indent: 0pt;
    text-transform: none;
    vertical-align: baseline;
}

div.detail_field, caption.detail_field {
    color: #666;
    font-family: Lato,Helvetica,Arial,Tahoma,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin: 5.05pt 0pt 5.05pt 72pt;
    text-align: left;
    text-indent: -72pt;
    text-transform: none;
    vertical-align: baseline;
}

span.detail_field_title {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
	width: 100pt;
	color: #666;
    font-family: Arial;
    font-size: 10pt;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-transform: none;
    vertical-align: baseline;
}

table.table_syntax {
    border-color: #E0E0E0;
    border-style: solid;
    border-width: 4px;
    border-collapse: collapse;
    margin: 0pt 0pt 12pt;
    padding: 9pt 6pt 6pt;
    text-align: left;
	width: 378pt;
	overflow: auto;
}


div.syntax-title, caption.syntax-title {
    color: #666;
    font-family: Lato,Helvetica,Arial,Tahoma,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    margin: 5px 0pt;
    padding-bottom: 10px;
    text-align: left;
    text-indent: 0pt;
    text-transform: none;
    vertical-align: baseline;
}

div.parameter, caption.parameter {
    color: #666;
    font-family: "Courier New",monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin: 11pt 0pt;
    text-align: left;
    text-indent: 0pt;
    text-transform: none;
    vertical-align: baseline;
}

span.code
{
  color: #666666;
  font-family: 'Courier New', Monospace;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

td.element_detail {
	background-color: #FFFFFF;
	border-bottom-color: #E0E0E0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #E0E0E0;
	border-left-style: solid;
	border-left-width: 1px; 
	border-right-color: #E0E0E0; 
	border-right-style: solid; 
	border-right-width: 1px;
	border-top-color: #E0E0E0;
	border-top-style: solid;
	border-top-width: 1px;
	padding-bottom: 6pt;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 9pt;
	vertical-align: top;
	width: 378pt
}

span.parameter_code {
    color: #666;
    font-family: "Courier New",monospace;
    font-size: 14px;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    text-transform: none;
    vertical-align: baseline;
}

hr {
	border: none;
	height: 1px;
	color: grey; 
	background: grey;
}

span.element_detail_code
{
  color: #666666;
  font-family: 'Courier New', Monospace;
  font-size: 14px;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
  float: left;
}
