// ======================================================================================================
// This file contains the project configurations required to build a project.
//
// This enables to extract the project's property settings along with the project so that the 
// development and integration environment can use the same configuration. This also enables to use the
// same configuration settings across multiple development workspaces.
//
// This file can be used with 'OpenEdge DevOps Framework(OEDF)' to build the project outside of 
// Developer Studio.
// 
// For file portability, it is recommended to use variables instead of absolute path for the following 
// attributes:
//		'buildDir'
//		'oeide.xrefXmlDir'
//		'oeide.preCompileCallbackRoutine'
//		'avm.wrkDir'
//		'avm.avmOptions.tmpDir'
//		'avm.avmOptions.assembliesDir'
//
// Supported default variables:
//		ROOT	-> Project's root location
//		WRKDIR	-> Work directory set during installation
//
// Note: System properties, System environment variables, and Eclipse variables are also supported
//
// Use variable as "${<variable-name>}". For example,
//		buildDir="${ROOT}/myBuildDir"
// ======================================================================================================

// ======================================================================================================
// The project's build directory path.
// The directory that will contain saved .r files. If this field is blank, .r files are saved in the 
// same directory as the source files.
// ======================================================================================================
buildDir=""

// IDE specific configurations
oeide {
	
	// ==================================================================================================
	// Boolean value to specify if the project uses a shared AVM or a dedicated AVM.
	// If true, the values set in this config file will be ignored and the values defined under 
	// 'Windows->Preferences->SharedAVM' will be honored.
	// ==================================================================================================
	useSharedAVM="false"
	
	// ==================================================================================================
	// Boolean value to enable/disable oeide events. 
	// A named event, oeide_event, is published whenever a Developer Studio operation occurs. This 
	// enables to write procedures that use the ABL SUBSCRIBE statement to capture and respond to 
	// those events. 
	// To know more search for 'Event subscription' at https://docs.progress.com. 
	// ==================================================================================================
	oeideEvents="true"
	
	// ==================================================================================================
	// Boolean value to enable/disable the global Visual Designer toolbox. 
	// ==================================================================================================
	useGlobalToolboxVD="false"

	// ==================================================================================================
	// Boolean value to enable/disable passing default AVM parameters. 
	// When enabled, AVM starts with default parameters specified at 
	// 'Window->Preferences->Progress OpenEdge->Startup'.
	// ==================================================================================================
	addDefaultParams="true"
	
	// ==================================================================================================
	// Boolean value to enable/disable project-specific runtime console.
	// This setting is applicable when 'useSharedAVM' is false and 'tty.enabled' is true. 
	// ==================================================================================================
	hideTTYConsole="false"
	
	// ==================================================================================================
	// Boolean value to enable/disable use of project specific 'strictOptions' under 'compile'.
	// Other compiler options listed under 'compile' section are not affected by this setting.
	// ==================================================================================================
	useProjectCompilerSettings="false"
	
	// ==================================================================================================
	// Boolean value to enable/disable persisting rcode on compiling sources.
	// ==================================================================================================
	saveRCode="true"

	// ==================================================================================================
	// String value to specify the path where cross-reference information is saved in an XML file. 
	// This corresponds to the COMPILE option, XREF-XML.
	// ==================================================================================================
	xrefXmlDir=""

	// ==================================================================================================
	// String value to specify the path to a procedure that runs prior to compilation.
	// ==================================================================================================
	preCompileCallbackRoutine=""
}

// AVM configurations
// **IMPORTANT** Any change in AVM configuration requires restarting AVM.
avm {
	// ==================================================================================================
	// String value to specify the path to the working directory, from where the AVM runtime starts. 
	// ==================================================================================================
	wrkDir="${ROOT}"
	
	// AVM options
	avmOptions {
		// ==============================================================================================
		// String value to specify the path to a temporary directory for the AVM runtime (same as -T 
		// startup parameter option)
		// ==============================================================================================
		tmpDir="${WRKDIR}"

		// ==============================================================================================
		// Boolean value to use '_progres' or 'prowin' executables. 'true' for _progres, 'false' for prowin. 
		// ==============================================================================================
		tty.enabled="false"
	
		// ==============================================================================================
		// String value to pass startup parameters. This will append to default params if 
		// 'addDefaultParams' is true.
		// ==============================================================================================
		startupParameters=""

		// ==============================================================================================
		// String value to specify the path to assemblies directory (same as -assemblies startup
		// parameter option).
		// ==============================================================================================
		assembliesDir=""
	}

	// ==================================================================================================	
	// Database configuration (Ignored in Developer Studio.) 
	// Set the database details when building the project using OEDF plugin.
	// database {
	// 	<check OEDF documentation for details>
	// }
	// ==================================================================================================
}
compile {
	// ==================================================================================================
	// Comma-separated string values specifying the compilable file extensions.
	// This property can be uncommented when building the project using OEDF plugin.
	// ==================================================================================================
	// compilableFileExtensions="p,w,cls,pgen,html,htm"

	compileOptions {
		// ==============================================================================================
		// Boolean value to set COMPILER:MULTI-COMPILE attribute.
		// ==============================================================================================
		multiCompile.enabled="false"

		// Strict options
		strictOptions {
			// ==========================================================================================
			// Similar to 'OPTIONS require-full-names' in COMPILE statement. 
			// Value can be 'ignore/warning/error'
			// ==========================================================================================
			requireFullNames="Ignore"

			// ==========================================================================================
			// Similar to 'OPTIONS require-field-qualifiers' in COMPILE statement. 
			// Value can be 'ignore/warning/error'.
			// ==========================================================================================
			requireFieldQualifiers="Ignore"
			
			// ==========================================================================================
			// Similar to 'OPTIONS require-full-keywords' in COMPILE statement. 
			// Value can be 'ignore/warning/error'.
			// ==========================================================================================
			requireFullKeywords="Ignore"
			
			// ==========================================================================================
			// Similar to 'OPTIONS require-return-values' in COMPILE statement.
			// Value can be 'ignore/warning/error'.
			// ==========================================================================================
			requireReturnValues="Ignore"
		}

		// ==============================================================================================
		// String value to specify XCODE option in COMPILE statement.
		// ============================================================================================== 
		xcodeKey=""

		// ==============================================================================================
		// Boolean value to set XREF-XML option in COMPILE statement.
		// ==============================================================================================
		xrefXml.enabled="false"

		// ==============================================================================================
		// Boolean value to set STREAM-IO option in COMPILE statement.
		// ==============================================================================================
		streamIO.enabled="false"

		// LANGUAGES option in COMPILE statement.
		languages {
			// ==========================================================================================
			// A comma-separated list of language segments to include in the compiled r-code.
			// ==========================================================================================
			list=""

			// ==========================================================================================
			// TEXT-SEG-GROW option. Growth-factor as an integer. Supported only when the language list 
			// is provided.
			// ==========================================================================================
			textSegGrow=""
		}

		// ==============================================================================================
		// Boolean value to set MIN-SIZE option in COMPILE statement.
		// ==============================================================================================
		minSize.enabled="false"

		// ==============================================================================================
		// Boolean value to set ATTR-SPACE option in COMPILE statement.
		// (Not supported in OEDF)
		// ==============================================================================================
		attrSpace.enabled="false"
	}
}
