dlcHome=''
buildDir=''
oeide {
	useSharedAVM='false'
	oeideEvents='true'
	useGlobalToolboxVD='false'
	addDefaultParams='true'
	hideTTYConsole='false'
	useProjectCompilerSettings='false'
	saveRCode='true'
	xrefXmlDir=''
	preCompileCallbackRoutine=''
}
avm {
	wrkDir='D:/OpenSource/Spark-Toolkit/src'
	avmOptions {
		tmpDir='C:/OpenEdge/WRK'
		tty.enabled='false'
		startupParameters=''
		assembliesDir=''
	}
	database.connectionDetails=''
}
compile {
	compilableFileExtensions='p,w,cls,pgen,html,htm'
	compileOptions {
		multiCompile.enabled='false'
		strictOptions {
			requireFullNames='Ignore'
			requireFieldQualifiers='Ignore'
			requireFullKeywords='Ignore'
			requireReturnValues='Ignore'
		}
		xcodeKey=''
		xrefXml.enabled='false'
		streamIO.enabled='false'
		languages {
			list=''
			textSegGrow=''
		}
		minSize.enabled='false'
		attrSpace.enabled='false'
	}
}
